<!DOCTYPE html>
<html lang="en">


<%- include("parts/head", {css:['global.css',"admHeader.css","admProdutos.css"]}) %>


<%- include("parts/admHeader.ejs") %>

<body>  
   
    <div class="content">
        
        <a class ="bt" href="/adm/produtos/create">Adicionar Novo Produto</a><br>
        
        <table id="tabela-de-produtos">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Imagem</td>
                    <td>Nome</td>
                    <td>Preço</td>
                    <td>Ações</td>
                </tr>
            </thead>
            <tbody>

                <% for(let mercadoria of mercadorias){ %>

                    <tr>
                            <td><%= mercadoria.id %></td>
                            <td><img src="/img/jogos/<%= mercadoria.img %>" alt="<%= mercadoria.nome %>"></td>
                            <td><%= mercadoria.nome %></td>
                            <td><%= mercadoria.price == 0 ? "Free" : mercadoria.price %></td>
                            <td>
                                <a class="bt" href="/adm/produtos<%= mercadoria.id %>/edit">Editar</a>
                                <a class="bt" href="#">Remover</a>
                            </td>
                    </tr>

                <% } %>

            </tbody>
        </table>
    </div>
</body>
</html>