<!DOCTYPE html>
<html lang="en">

<%- include("parts/head", {css:['global.css','header.css','home.css','footer.css','products.css']}) %>


<body>
    
<%- include('parts/header.ejs') %>


<main>

    <section class="product-container">    

    <div class="left-column-filter">

    <form action="/products/<%= categoryID %>" method="GET">

			<h2>Category</h2>
            <div class="dropdown">
                <span>Price</span>
                <i class="fa-solid fa-sort-down"></i>
                
                <div class="checkbox">
                    <label>R$0 - R$50</label><input type="checkbox" name ="price" value ="50">
                    <label>R$50 +</label><input type="checkbox" name ="price" value ="51">
                </div>
            </div>

        <div class="dropdown">
            <span>Genre</span>
            <i class="fa-solid fa-sort-down"></i>

            <div class="checkbox">
                <label>RPG</label><input type="checkbox">
                <label>SPORT</label><input type="checkbox">
                <label>RACE</label><input type="checkbox">
                <label>OTHERS</label><input type="checkbox">
            </div>
        </div>

        <div class="dropdown">
            <span>Console</span>
            <i class="fa-solid fa-sort-down"></i>

            <div class="checkbox">
                <label>SWITCH</label><input type="checkbox">
            </div>
        </div>

        <button type = 'submit'>Apply Filters</button>

    </form>


    </div>
		
    <div class="right-column-products">
        

        <% for (produto of produtosFiltrados){ %>

            <div class="games">

                <a href="/detail/<%= produto.id%>">
                    <img src="/img/jogos/<%= produto.img %>" alt="">
                    <h2><%=produto.nome%></h2>
                    <span>$<%= produto.price %></span>
                </a>
                
                <button>Add to Cart</button>

            </div>

        <%}%>

    
    </div>


	</section>


</main>
    
<%- include("parts/footer.ejs") %>

    
</body>
</html>