<!DOCTYPE html>
<html lang="en">

<%- include("parts/head", {css:['global.css','header.css','home.css','footer.css','products.css']}) %>


<body>
    
<%- include('parts/header.ejs') %>


<main>

    <section class="product-container">

    <div class="left-column-filter">
			<h2>Category</h2>
            <div class="dropdown">
                <span>Price</span>
                <i class="fa-solid fa-sort-down"></i>
                <div class="checkbox">
                    <label>R$0 - R$50<input type="checkbox"></label>
                    <label>R$50 +<input type="checkbox"></label>
                </div>
            </div>

        <div class="dropdown">
            <span>Genre</span>
            <i class="fa-solid fa-sort-down"></i>
            <div class="checkbox">
                <label>RPG<input type="checkbox"></label>
                <label>SPORT<input type="checkbox"></label>
                <label>RACE<input type="checkbox"></label>
                <label>OTHERS<input type="checkbox"></label>
            </div>
        </div>

        <div class="dropdown">
            <span>Console</span>
            <i class="fa-solid fa-sort-down"></i>
            <div class="checkbox">
                <label>SWITCH<input type="checkbox"></label>
            </div>
        </div>

        <button>Apply Filters</button>




    </div>
		
    <div class="right-column-products">
        
        
        <% for (produto of produtosFiltrados){ %>

            <div class="games">

                <a href="/detail/<%= produto.id%>">
                    <img src="/img/jogos/<%= produto.img %>" alt="">
                    <h2><%=produto.nome%></h2>
                    <span><%= produto.price %></span>
                </a>
                
                <button>Add to Cart</button>

            </div>

        
        <%}%>

    
    </div>


	</section>


</main>
    
<%- include("parts/footer.ejs") %>

    
</body>
</html>